.psh__portfolio-right-body-conatainer-about{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.psh__portfolio-right-body-conatainer-about-wrap{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.psh__portfolio-right-body-conatainer-about-wrap h3 {
    padding-bottom: 1rem;
}