.psh__portfolio-right {
    width: 100%;
    height: auto;
}

.psh__portfolio-right-container {
    padding: 1rem;
    height: 100%;
}

.psh__portfolio-right-header {
    display: inline;
}

.psh__portfolio-right-header-box {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.psh__portfolio-right-header {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: inline-block;
}

.psh__portfolio-right-divider {
    justify-content: center;
    width: 40%;
    margin: 1rem 0;
    display: inline-block;
}

.psh__portfolio-right-body{
    height: 86%;
    border: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px){
    .psh__portfolio-right{
        height: 100%;
    }
}