.psh_portfolio_portfolio ul{
    text-align: left;
    padding: 1rem;
    list-style: none;
}

.psh_portfolio_portfolio ul li {
    padding: .6rem 0;
}

.psh_portfolio_portfolio ul li:last-child{
    padding: .6rem 0 0 0;
}

.psh_portfolio_portfolio ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all .5s ease;
}

.psh_portfolio_portfolio ul li a:hover{
    color: blue;
}