* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.psh__portfolio{
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.psh__portfolio-dark-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 2;
}